*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .lg input{
    padding: 15px  80px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(204, 182, 182);
    width: 85%;
    height: 100%;
   background-color:rgba(213, 195, 213, 0.699);
   font-size: 20px;

    
    
}
.up a{
    font-size: 30px;
}
i{
    color: aqua;
    font-size: 20px;
    margin-left: 30px;
}

   
   
.lg{
    margin-top: 20px;
    border: none;
    
}
.login{
    text-align: center;
    margin: 5rem;
    
    
    
}
.main{
    border:3px solid;
    height:650px;
    width: 40% !important;
    margin: 70px;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-technology-business-blue-background-glare-image_23384.jpg);
}
   
   
    
    
  
#loginclick{
    padding: 15px 100px;
    margin-top: 30px;
    margin-left: -60px;
    color: white;
    background-color: rgb(32, 43, 247);
    font-size: 20px;
    letter-spacing: 0.5vh;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.up{
    margin-bottom: 20px;
}  

.up a{
    font-size: 30px;
    color: rgb(228, 233, 237);
}
#body{
    background-image: url(https://previews.123rf.com/images/tunnelmotions/tunnelmotions1909/tunnelmotions190900075/129479631-futuristic-space-sci-fi-tunnel-with-hot-metal-3d-rendering-wallpaper-backgrounds.jpg);
}
.bt{
    margin-top: 40px;
    text-align: center;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bt p{
   color: white;
   font-size: 30px;
}
#eyes{
    position: absolute;
    right: 48.5%;
    top: 40.9%;
    opacity: 0;
}
#password{
    position: relative;
}

    
    
   
   
    

   
   
   
    

.bt a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);

}
.bt a:hover{
    text-decoration: underline;
  

}


#eyes{
    position: absolute;
    right: 42%;
    top: 43.9%;
}
.lg .password{
    position: relative;
}
.user{
    font-size: 30px;
    
    color: white;
}
#users{
    opacity: 1;
}
.up p{
    font-size: 35px;
    color: white;
}